<div class="container">
  <div class="jumbotron">
      <h1 class="display-6">Movimentações</h1>
      <p class="lead-1">{{ listagemTitle }}</p>
      <hr class="my-2">
      <div class="input-group">
        <select id="iCorrentista" [(ngModel)]="correntista" class="form-select"  (click)="listMovimentacoes()">
            <option value="">Todas as Movimentações</option>
            <option  *ngFor="let c of correntistas"  [ngValue]="c">{{c.cpf}}-{{c.nome}}</option>
        </select>
          <button class="btn btn-outline-secondary me-md-2 btn-sm" type="button" (click)="listMovimentacoes()">Buscar</button>
            <a class="btn btn-outline-primary btn-sm mainbutton" routerLink="/mainscreen">Tela inicial</a>

    </div>

    <div class="container cardsmain">

        <div class="card receitas">
          <div class="card-body">
            <div class="entry">
                <h5 class="card-title inicon">Entradas</h5>
                <img src="../../../assets/in.svg"  alt="seta verde apontada para cima">
            </div>
            <p class="card-text">{{totalReceitas | currency: 'BRL'}}</p>
          </div>
        </div>

        <div class="card despesas">
          <div class="card-body">
              <div class="exit">
              <h5 class="card-title outicon">Saídas</h5>
              <img src="../../../assets/out.svg"  alt="seta verde apontada para cima">
          </div>
            <p class="card-text">{{totalDespesas | currency: 'BRL'}}</p>
          </div>
        </div>

        <div class="card total">
          <div class="card-body">
              <div class="totalicon">
              <h5 class="card-title total">Total</h5>
              <img src="../../../assets/dolar.svg"  alt="seta verde apontada para cima">
          </div>
            <p class="card-text">{{totalMovimentacoes | currency: 'BRL'}}</p>
          </div>
        </div>
    </div>

    <div class="tabelamov mt-3">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let item; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let item">{{ item.dataHora | date: 'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let item">{{ item.descricao }}</td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let item" [ngStyle]="{'color': item.tipo === 'RECEITA' ? 'green' : 'red'}">{{ item.valor | currency: 'BRL' }}</td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let item">{{ item.tipo }}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item">
            <a routerLink="/movimentacoes-new" [queryParams]="{ edit: true, id: item.id }" routerLinkActive="active">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['numero', 'data', 'descricao', 'valor', 'tipo', 'acoes']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['numero', 'data', 'descricao', 'valor', 'tipo', 'acoes']"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
