<div class="container">
  <div class="jumbotron">
    <div class="alo  d-flex justify-content-between gap-2 align-items-center">
      <h1 class="display-7 ">Correntistas</h1>

      <div class="botoes d-flex gap-3 ">
        <a class="btn btn-outline-primary btn-sm " routerLink="/cadastro">Novo Correntista</a>
        <a class="btn btn-outline-primary btn-sm" routerLink="/movimentacoes-new">Nova Movimentação</a>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let item of correntistas; index as i" class="col-md-4 mb-4" >
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{item.nome}}</h5>
            <p class="card-text">Conta N° {{item.conta.numero}}</p>
            <p class="card-text">Saldo {{item.conta.saldo | currency:'BRL'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
