.buttons {
  width: 900px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin: 0 auto;

  grid-template-areas:
    "movimentações nova-movimentação"
    "correntistas novo-correntista";
}
.movimentações {
  grid-area: movimentações;
}
.nova-movimentação {
  grid-area: nova-movimentação;
}
.correntistas {
  grid-area: correntistas;
}
.novo-correntista {
  grid-area: novo-correntista;
}

.header {
  text-align: center;
  margin-bottom: 80px;
}

.buttons a {
  padding-block: 20px;
}
