<div class="container">
  <div class="jumbotron">

    <div class="header">
        <h3>Bem vindo ao FX APP </h3>
        <p class="lead">Selecione a operação desejada!</p>

    </div>
    <div class="buttons">
        <a class="btn btn-primary movimentações" href="movimentacoes" role="button">Listar todas as movimentações</a>
        <a class="btn btn-primary correntistas" href="correntistas" role="button">Listar todas os correntistas</a>
        <a class="btn btn-primary novo-correntista" href="cadastro" role="button">Novo Correntista</a>
        <a class="btn btn-primary nova-movimentação" href="movimentacoes-new" role="button">Nova Movimentação</a>

    </div>
  </div>
</div>
