@import '~ngx-toastr/toastr';

body{
  font-family: 'Poppins', sans-serif;
  background-color: #F3F4ED;
}



.entry, .exit, .totalicon {
  display: flex;
  align-items: flex-end;
}

.inicon, .outicon, .total{
  flex: 1;
}

html, body { height: 100%; }
body { margin: 0; }
