<div class="container col-md-6">

  <div class="logos">
    <img src="../../../assets/Atos-Logo.png "  alt="">
    <img src="../../../assets/UFN.png"  alt="">

  </div>

  <form (ngSubmit)="userLogin()">
    <div class="mb-3">
      <label for="userId" class="form-label">Usuário</label>
      <input type="text" [(ngModel)]="user.userId" class="form-control" id="userId" name="userId">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
    </div>
    <div class="btnlog">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
