
.logos{
  width: 40%;
  margin: 0 auto;
  gap: 30px;
  margin-left: 100px;
}


.logos img{
  max-height: 50px;
  height: auto;

}

.boxtransform{
  max-width: 480px;
  width: 100%;
}

.infologin img{
  max-height: 80px;
  height: auto;
}

.jumnb{
  padding: 70px 25px;
  margin: 70px 25px;
}

.formedit{
  margin: 0 auto;
}

.form-label{
  margin: 0;
  padding-left: 2px;
}

@media (max-width: 992px) {
  .jumbotron{
    flex-direction: column;
    margin: 0 auto;
  }
  .infologin{
    margin-bottom: 5px;
  }

  .infolog{
    display: none;
  }

  
}
