body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #64686570;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  width: 400px;

}

h1 {
  color: #f25042;
  text-align: center;
}

.form-label {
  color: #fff;
}

.form-control {
  background-color: #c2c2c2;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btnlog{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: #FF8551;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;

}

.btn-primary:hover {
  background-color: #d6774e;
}

.logos{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}
.logos img{
  max-height: 50px;
  height: auto;

}
