<div class="container col-md-6">

  <div class="logos">
    <img src="../../../assets/Atos-Logo.png "  alt="">
    <img src="../../../assets/UFN.png"  alt="">

  </div>

  <form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="userId" class="form-label">Usuário</label>
      <input type="text" formControlName="userId" class="form-control" id="userId" name="userId">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" formControlName="password" class="form-control" id="password" name="password">
    </div>
    <div class="btnlog">
      <button type="submit" class="btn btn-primary" (click)="userLogin()">Login</button>
    </div>
  </form>
</div>


<div class="container cardsmain">

  <div class="card receitas">
    <div class="card-body">
      <div class="entry">
          <h5 class="card-title inicon">Entradas</h5>
          <img src="../../../assets/in.svg"  alt="seta verde apontada para cima">
      </div>
      <p class="card-text">{{totalReceitas | currency: 'BRL'}}</p>
    </div>
  </div>

  <div class="card despesas">
    <div class="card-body">
        <div class="exit">
        <h5 class="card-title outicon">Saídas</h5>
        <img src="../../../assets/out.svg"  alt="seta verde apontada para cima">
    </div>
      <p class="card-text">{{totalDespesas | currency: 'BRL'}}</p>
    </div>
  </div>

  <div class="card total">
    <div class="card-body">
        <div class="totalicon">
        <h5 class="card-title total">Total</h5>
        <img src="../../../assets/dolar.svg"  alt="seta verde apontada para cima">
    </div>
      <p class="card-text">{{movimentacoes | currency: 'BRL'}}</p>
    </div>
  </div>
</div>





